---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
		<h1 class="text-gradient">About</h1>
		<!-- <p> about me summary </p> -->
		<ul role="list" class="bg-">
			<li>Tools</li>
			<!-- Software (editor, terminal, notes), Hardware (perhaps coding and gaming equipment),  -->
			<li>Books</li>
			<li>Resources I Recommend</li>
			<!-- podcasts, blog posts, etc -->
			<!-- <li>Resume?</li> -->
		</ul>
	</main>
</Layout>